body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

/* SENHA */
#senhaTela {
  height: 100vh;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#senhaInput {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  background: #ff4d6d;
  color: white;
}

/* CAPA */
#capa {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #e8cfcf;
  padding: 40px;
  border-radius: 30px;
  width: 90%;
  max-width: 350px;
  text-align: center;
}

.foto {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

/* LIVRO */
#livro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.topo {
  display: flex;
  justify-content: space-between;
}

.box {
  flex: 1;
  display: flex;
  align-items: center;
}

textarea {
  width: 100%;
  height: 80%;
  border-radius: 20px;
  padding: 15px;
}

.botoes {
  display: flex;
  justify-content: space-between;
}

.botoes button {
  width: 45%;
  padding: 15px;
  font-size: 20px;
}

/* CORAÇÕES */
#coracoes {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.coracao {
  position: absolute;
  bottom: 0;
  animation: subir 4s linear;
}

@keyframes subir {
  from { transform: translateY(0); }
  to { transform: translateY(-100vh); opacity: 0; }
}
